<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout1.html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--we are using layout here -->
<!--we will add security later-->
<!--    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"-->
<head>
    <meta charset="UTF-8">
    <title> Products</title>
<!--    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">-->
<!--    No more needed since the this page uses layout1 whihc already has the bootstrap implimented.-->
</head>
<body>
<!--<h1> Products </h1>-->
<div class="p-3" layout:fragment="content1">
    <div class="p-3" sec:authorize="hasRole('ADMIN')" >
        <a class="btn btn-primary" th:href="@{/admin/newProduct}">New Product</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.quantity}"></td>

<!--            delete button-->
            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/admin/delete(id=${product.id})}" method="post">
                    <button type="submit" class="btn btn-danger"> Delete</button>
                </form>
<!--                <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product? This action is irreversible.')"-->
<!--                   th:href="@{/admin/delete(id=${product.id})} "> Delete </a>-->
            </td>

<!--            edit button-->
            <td sec:authorize="hasRole('ADMIN')">


                <a class="btn btn-warning "
                   th:href="@{/admin/editProduct(id=${product.id})}">Edit</a>

            </td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>